@utility input-group {
  @apply flex flex-col gap-2 w-full;

  & label {
    @apply text-body-xs text-grayscale-700 capitalize text-nowrap;
  }

  & .text-input {
    @apply relative;
    @apply flex flex-col items-center;
    @apply grow;
    @apply border-none rounded-lg;
    @apply text-body-xs text-grayscale-300;
    @apply bg-transparent;
    @apply transform duration-300 transition-all ease-out;

    & input {
      /* 1. Disable the font feature causing the shift */
      font-variant-ligatures: no-contextual;
      -webkit-font-feature-settings: 'calt' 0;
      font-feature-settings: 'calt' 0;

      @apply w-fit;
      @apply min-w-full;
      @apply py-3 pl-3.25 pr-3.75;
      @apply border-[1.5px] border-solid rounded-lg;
      @apply border-grayscale-200;
      @apply leading-5.5;
      @apply text-grayscale-400;

      @variant hover {
        @apply border-grayscale-300;
        @apply text-grayscale-200;
      }
      @variant focus {
        @apply border-grayscale-400;
        @apply outline-none ring-0;
        @apply placeholder-grayscale-100;
      }
      @variant active {
        @apply border-grayscale-400;
        @apply outline-none ring-0;
        @apply placeholder-grayscale-100;
      }
      @variant disabled {
        @apply cursor-not-allowed;
      }
      &:not(:placeholder-shown) {
        @apply text-grayscale-700;
      }
    }

    & .prefix {
      @apply absolute inset-y-0 left-0 pl-3.25;
      @apply py-3;
      @apply leading-5.5;
      @apply w-fit;
      @apply flex items-center;
      @apply cursor-default;
      @apply text-grayscale-700;
    }
    & .suffix {
      @apply absolute inset-y-0 right-0 pr-3.75;
      @apply py-3;
      @apply text-[22px] leading-5.5;
      @apply w-fit;
      @apply flex items-center;
      @apply cursor-default;
      @apply text-grayscale-300;
      /* variants for icon styling as suffix */
      @variant peer-hover {
        @apply text-grayscale-300;
      }

      @variant peer-focus {
        @apply text-grayscale-400;
      }
      @variant peer-disabled {
        @apply text-grayscale-300;
      }
    }
    /* Selectpicker */
    & button {
      @apply flex flex-row items-center justify-between;
      @apply grow;
      @apply w-fit;
      @apply min-w-full;
      @apply border-[1.5px] border-solid border-grayscale-200 rounded-lg;
      @apply text-body-xs text-grayscale-400;
      @apply leading-5.5;
      @apply py-3 pl-3.25 pr-3.75;
      @apply cursor-pointer;
      @variant hover {
        @apply border-grayscale-300;
        @apply text-grayscale-200;
      }
      @variant focus {
        @apply border-grayscale-400;
        @apply outline-none ring-0;
      }
      /* Selectpicker Arrow */
      & .suffix {
        @apply text-[22px] leading-5.5;
      }
    }
  }
}
