@import 'tailwindcss';

@import './theme/variables.css';
@import './theme/colors.css';

@layer base {
  @import './base/reset.css';
}

@layer components {
  @import './components/forms.css';
}

/* Declared Utilities */
@import './base/typography.css';
@import './components/chips.css';
@import './components/buttons.css';
@import './components/cards.css';
@import './components/navigation.css';
@import './utilities/custom.css';
@import './components/inputs.css';

@layer utilities {
  @import './utilities/layout.css';

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
