@theme {
  /* Typography */
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  /* Screen Breakpoints */
  --breakpoint-3xl: 1920px;
  /* Container Sizes */
  --container-3xl: 97.875rem;
}
